.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(15, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(40, 0, 0, 0.4);
}

.error {
    color: red;
}

@font-face {
    font-family: 'orig';
    src: url('fonts/origamibats.otf') format('otf'), url('fonts/origamibats.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}

.orig {
    display: inline-block;
    font: normal normal normal 14px/1 orig;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-orig-a:before {
    content: "A";
}

.fa-orig-b:before {
    content: "B";
}

.fa-orig-c:before {
    content: "C";
}

.fa-orig-d:before {
    content: "C";
}

.fa-orig-e:before {
    content: "E";
}

.fa-orig-f:before {
    content: "F";
}